{% extends 'base.html.twig' %}

{% block title('Page de connexion') %}

{% block body %}

<div class="container mt-5">
<div class="row justify-content-center">
        <div class="jumbotron py-3 px-3">
            <h1>Connectez-vous</h1>

            {% if hasError %}
            <div class="alert alert-danger">Une erreur est survenue, l'identifiant ou le mot de passe est incorrect</div>
            {% endif %}

            <form action="{{ path('account_login') }}" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="_username" id="email" class="form-control border border-primary" placeholder="Adresse mail" 
                value="{{ username }}" required>            
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>           
                <input type="password" name="_password" id="password" class="form-control border border-primary" placeholder="Mot de passe" required>            
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Connectez-vous</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
