{% extends 'base.html.twig' %}

{% block title('Page de connexion') %}

{% block body %}
<div class="container">
<h1>Inscrivez-vous !</h1>

{{ form_start(registration) }}
{{ form_widget(registration) }}

<button type="submit" class="btn btn-primary">Confirmez votre inscription</button>
{{ form_end(registration) }}

</div>

{% endblock %}

