body {background-color: #b6aeae;}
.container {margin-top:1.2em;}
.ad-title {
    background:url(https://placeimg.com/640/480/nature) no-repeat 0 0 #000;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}
.ad-title .container {margin-top:0;}
.ad-title h1,.ad-title p {
    color:#fff;
    position: absolute;
    top: 10%;
}
.ad-title::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: url('/img/noise.png') repeat 0 0;
}
.buttonRes {
    position: absolute;
    bottom: 5%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f3efef;
}
.form-error-message,span{
    color: #111010;
}