{% extends 'base.html.twig' %}

{% block title("Liste d'annonces") %}

{% block body %}

<div class="container">
    <h1 class="mt-3 mb-3">Liste d'annonces</h1>
    <div class="row">
        {% for ad in pagination.data %}

        {% include 'ad/_ad.html.twig' %}
        
        {% endfor %}
    </div> 
    {{pagination.display}}   
</div>
{% endblock %}
